<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>categoryTitle</key>
		<string>饮食</string>
		<key>categoryImage</key>
		<string>cc_catering_chicken_</string>
		<key>isIncome</key>
		<integer>0</integer>
	</dict>
    <dict>
        <key>categoryTitle</key>
        <string>娱乐</string>
        <key>categoryImage</key>
        <string>cc_entertainmente_game_</string>
        <key>isIncome</key>
        <integer>0</integer>
    </dict>
    <dict>
        <key>categoryTitle</key>
        <string>健身</string>
        <key>categoryImage</key>
        <string>cc_fitness_bodybuilding_</string>
        <key>isIncome</key>
        <integer>0</integer>
    </dict>
    <dict>
        <key>categoryTitle</key>
        <string>运动</string>
        <key>categoryImage</key>
        <string>e_sport_</string>
        <key>isIncome</key>
        <integer>0</integer>
    </dict>
    <dict>
        <key>categoryTitle</key>
        <string>家庭</string>
        <key>categoryImage</key>
        <string>cc_life_candlelight_</string>
        <key>isIncome</key>
        <integer>0</integer>
    </dict>
    <dict>
        <key>categoryTitle</key>
        <string>医药</string>
        <key>categoryImage</key>
        <string>e_medical_</string>
        <key>isIncome</key>
        <integer>0</integer>
    </dict>
    <dict>
        <key>categoryTitle</key>
        <string>通信</string>
        <key>categoryImage</key>
        <string>cc_personal_phone_</string>
        <key>isIncome</key>
        <integer>0</integer>
    </dict>
    <dict>
        <key>categoryTitle</key>
        <string>送礼</string>
        <key>categoryImage</key>
        <string>cc_shopping_flower_</string>
        <key>isIncome</key>
        <integer>0</integer>
    </dict>
    <dict>
        <key>categoryTitle</key>
        <string>购物</string>
        <key>categoryImage</key>
        <string>cc_shopping_shopping_trolley_</string>
        <key>isIncome</key>
        <integer>0</integer>
    </dict>
    <dict>
        <key>categoryTitle</key>
        <string>服饰</string>
        <key>categoryImage</key>
        <string>cc_shopping_skirt_</string>
        <key>isIncome</key>
        <integer>0</integer>
    </dict>
    <dict>
        <key>categoryTitle</key>
        <string>宠物</string>
        <key>categoryImage</key>
        <string>e_pet_</string>
        <key>isIncome</key>
        <integer>0</integer>
    </dict>
    <dict>
        <key>categoryTitle</key>
        <string>教育</string>
        <key>categoryImage</key>
        <string>e_study_</string>
        <key>isIncome</key>
        <integer>0</integer>
    </dict>
    <dict>
        <key>categoryTitle</key>
        <string>房租</string>
        <key>categoryImage</key>
        <string>cc_study_school_</string>
        <key>isIncome</key>
        <integer>0</integer>
    </dict>
    <dict>
        <key>categoryTitle</key>
        <string>出行</string>
        <key>categoryImage</key>
        <string>cc_traffic_car_</string>
        <key>isIncome</key>
        <integer>0</integer>
    </dict>
    <dict>
        <key>categoryTitle</key>
        <string>工资</string>
        <key>categoryImage</key>
        <string>i_wage_</string>
        <key>isIncome</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>categoryTitle</key>
        <string>兼职</string>
        <key>categoryImage</key>
        <string>i_parttimework_</string>
        <key>isIncome</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>categoryTitle</key>
        <string>股票</string>
        <key>categoryImage</key>
        <string>i_finance_</string>
        <key>isIncome</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>categoryTitle</key>
        <string>红包</string>
        <key>categoryImage</key>
        <string>cc_income_9_</string>
        <key>isIncome</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>categoryTitle</key>
        <string>其他</string>
        <key>categoryImage</key>
        <string>i_other_</string>
        <key>isIncome</key>
        <integer>1</integer>
    </dict>

</array>
</plist>
